<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tienda Hiberus{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
    {{ importmap('app') }}
    <script type="module">
        import 'app'; 
    </script>
{% endblock %}
    </head>
    <body>
        {# El div de React DEBE ir en el body #}
        <div id="root"></div>
        <div>lorem ipsum</div>

        {% block body %}{% endblock %}
    </body>
</html> 